[submodule "src/third_party/PENF"]
  path = src/third_party/PENF
  url = https://github.com/szaghi/PENF
  branch = master
[submodule "src/third_party/VecFor"]
  path = src/third_party/VecFor
  url = https://github.com/szaghi/VecFor
  branch = master
[submodule "src/third_party/FiNeR"]
	path = src/third_party/FiNeR
	url = https://github.com/szaghi/FiNeR
